.login-section {
   margin: 10% ;
}
.login-section .form-box {
   max-width: 500px;
   background: #f7f7f8;
   padding: 30px;
   margin: auto;
}
.login-section .form-box h4 {
   text-transform: uppercase;
   margin-bottom: 30px;
}

.login-section .form-box{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

#rowl{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.login-section .form-box .form-control{
 padding: 20px;
 margin-bottom: 5px;
 border-radius: 10px

}
@media (max-width: 700px) {
   .login-section .form-box {
      max-width: 250px;
      background: #f7f7f8;
      padding: 30px;
      margin: auto;
   }
}