* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: "Pacifico", cursive;
   font-family: "PT Sans Narrow", sans-serif !important;
   color: #121619 !important;
}
h1 {
   font-size: 64px !important;
   font-weight: 700 !important;
   font-family: "PT Sans Narrow", sans-serif;
}
h2 {
   font-size: 48px !important;
   font-weight: 700 !important;
   font-family: "PT Sans Narrow", sans-serif;
}
h3 {
   font-size: 32px !important;
   font-weight: 600 !important;
   font-family: "PT Sans Narrow", sans-serif;
}
h4 {
   font-size: 24px !important;
   font-weight: 600 !important;
   font-family: "PT Sans Narrow", sans-serif;
}
h5 {
   font-size: 18px !important;
   font-weight: 600 !important;
   font-family: "PT Sans Narrow", sans-serif;
}
.link {
   text-decoration: none;
   color: #121619;
   transition: 0.4s;
}
.link:hover {
   color: #fe9d3e;
}
.error {
   color: #ff4500;
   font-size: 14px;
   margin-left: 2px;
   text-transform: capitalize;
}
.home-pre-loader {
   position: relative;
   background-color: #121619;
   height: 100vh;
   z-index: 1031;
}
.home-pre-loader .spinner-border {
   position: absolute;
   top: 50%;
}
.home-pre-loader .d-flex {
   height: 100%;
}
.spinner-border {
   margin: auto;
   border: 0.25em solid #121619 !important;
   border-right-color: transparent !important;
}
.header-text {
   margin-bottom: 50px;
   text-align: center;
}
.header-text span {
   font-size: 24px;
   font-family: "Pacifico", cursive;
   color: #fe9d3e;
   text-transform: capitalize;
}
.header-text h1 {
   text-transform: uppercase;
   margin-bottom: 0;
}
.btn-black {
   background: #121619;
   border: 1px solid #121619;
   text-transform: uppercase;
   color: #fff;
   font-weight: 600;
   height: 50px;
   width: 175px;
   border-radius: 100px;
   transition: 0.4s;
}
.btn-black:hover {
   background: transparent;
   color: #121619;
}
.btn-orange {
   background: #fe9d3e;
   border: 1px solid #fe9d3e;
   text-transform: uppercase;
   color: #fff;
   font-weight: 600;
   height: 50px;
   width: 175px;
   border-radius: 100px;
   transition: 0.4s;
}
.btn-orange:hover {
   background: transparent;
   color: #fe9d3e;
}
